
@tailwind base;
@tailwind components;
@tailwind utilities;

.card
{
    @apply bg-white rounded overflow-hidden shadow-md relative;
}
.badge
{
    @apply bg-ray text-xs font-bold rounded-full p-2 absolute top-0 ml-2 mt-2
}
.heading
{
    @apply text-orange-600 font-semibold text-2xl border-b border-gray-200 shadow-sm py-5
}
.image
{
    @apply h-56 w-full sm:h-72 object-cover
}
.btn
{
    @apply rounded-full cursor-pointer uppercase tracking-wider text-xs font-bold px-3 py-2;
}
.a 
{
    @apply text-gray-800 font-bold uppercase p-4
}
.b 
{
    @apply text-gray-800 font-bold uppercase p-4 ml-20
}
@media only screen and (min-width: 768px) {
.imga{
    background-image: url("C:\Users\CHAKRI\OneDrive\Documents\chakri\projects\learn\recipes\src\images\wallpaper4.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
}
}
@media only screen and (max-width: 768px) {
    .img{
        background-image: url("C:\Users\CHAKRI\OneDrive\Documents\chakri\projects\learn\recipes\src\images\banner.jpg");
        
        
    }
    }